body{
    background: whitesmoke;
    border: 2px solid blue;
    padding: 0%;
    margin: 0%;
}
/*aplicando fondo a nav bar contendor primario-*/
#contenedor-ul{
 background: rgb(11, 74, 95);
}
/*contennedor de todos los li con la img*/
#cont-li{
 
 width: 1330px;
 height: 50px;

}
/*img del logo posionada en la esquinza superion izquierda del navbar*/
#logo{
    width: 100px;
    height: 69px;
    border-radius: 25px;
}
/*diseño de caba uno de los items*/
#right-item {
   height:  50px;
   margin: 0px auto;
    display: block;
}
/*este es para mover los item hacia la derecha*/
#item-li{
    display: flex;
    margin: 0px 1090px;
    justify-content: space-around;
    width: auto;
    height: auto;
}
/* fin de este es para mover los item hacia la derecha*/
/*hacer que sea un bloque ek ul y li*/

ul li a:hover{
    display: block;
    background: blanchedalmond;
    color: black;
}

/*fin del estilo del navbar  de la pagina principal*/
/*color del card*/
.card{
    background: rgb(180, 172, 172);
}
.card-title{
    text-align: center;
    color:black;
}
.nosotros{
    justify-content: center;
    color: black;
}
.card-action{
    display: flex;
    justify-content: space-around;
}
section,.row{

    height: 580px;
    width: 500px;
    margin: 0px auto;
}
#Card_ubicacion{
    display: none;
    background:#FCD2D1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    float: left;
    opacity: transparent;
}
#bordes_card{
    background: #FE8F8F;
}
#ubicacion{
    animation-name: Move;
    animation-duration: 4s;
    animation-direction:alternate;
    animation-fill-mode:forwards;
}
@keyframes Move {
    from {margin: 0.2em 0;}
    to {margin-left: 400px;}
 }